:root {
  --heading-font: 2.5rem;
  --primary-font: 1.2rem;
}

* {
  font-family: monospace;
  font-size: var(--primary-font);

  margin: 0;
  padding: 0;
}

body {
  /* background-color: #1e1e1e; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  cursor: pointer;
  padding: 5px;
  width: 100%;

  max-width: 100px;
}

#root {
  width: 100%;
  max-width: 800px;
  padding: 5px 10px;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  width: 800px;
  /* background-color: yellow; */
}

h1 {
  font-size: var(--heading-font);
  margin: 10px 0;
}

.todo-form,
.task {
   width: 100%;
   /* background-color: red; */
}

.todo-form {
  display: flex;
  /* gap: 5px; */
  /* background-color: red; */
  margin-bottom: 10px;
}

.todo-form input[type="text"] {
  width: 100%;
  padding: 5px 10px;
}

.todo-form input[type="text"]::placeholder {
  font-style: italic;
}

.task {
  display: flex;
  align-items: center;
}

.task p {
  width: 100%;
  /* background-color: red; */
}
